DB_SERVER_URL=postgres://USERNAME:PASSWORD@localhost:5432/url_shortener?sslmode=disable

DB_MAX_CONNECTIONS=100
DB_MAX_IDLE_CONNECTIONS=10
DB_MAX_LIFETIME_CONNECTIONS=2

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

PORT=8080
GIN_MODE=debug

JWT_SECRET=super-secret-key-example
APP_ENV=debug
